@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

@font-face {
  font-family: "Gerhaus";
  src: url("fonts/Gerhaus.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Unbounded";
  src: url("fonts/Unbounded-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

#root {
  display: flex;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Unbounded", "Arial", sans-serif;
  font-weight: 300;
  color: #D8D8D8;
  background-color: #18191b;
  overflow: hidden;
}

body::selection {
  background: #00A66E;   /* Цвет фона выделения */
  color: #D8D8D8;           /* Цвет выделенного текста */
}

body::-moz-selection {
  background: #00A66E;   /* Цвет фона выделения */
  color: #D8D8D8;           /* Цвет выделенного текста */
}

@media screen and (max-width: 768px) and (orientation: portrait){
  #root {
    display: block;
  }

  body {
    overflow: auto;
  }
}